<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bucg.sso.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.bucg.sso.model.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parentroleid" property="parentroleid" jdbcType="BIGINT" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="	
gen_time" property="	
genTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parentroleid, role_name, 	
gen_time, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bucg.sso.model.Role" >
    insert into sys_role (id, parentroleid, role_name, 
      	
gen_time, description)
    values (#{id,jdbcType=BIGINT}, #{parentroleid,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, 
      #{	
genTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bucg.sso.model.Role" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentroleid != null" >
        parentroleid,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="	
genTime != null" >
        	
gen_time,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentroleid != null" >
        #{parentroleid,jdbcType=BIGINT},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="	
genTime != null" >
        #{	
genTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bucg.sso.model.Role" >
    update sys_role
    <set >
      <if test="parentroleid != null" >
        parentroleid = #{parentroleid,jdbcType=BIGINT},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="	
genTime != null" >
        	
gen_time = #{	
genTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bucg.sso.model.Role" >
    update sys_role
    set parentroleid = #{parentroleid,jdbcType=BIGINT},
      role_name = #{roleName,jdbcType=VARCHAR},
      	
gen_time = #{	
genTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>