<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bucg.sso.mapper.Role_Org_ReaMapper" >
  <resultMap id="BaseResultMap" type="com.bucg.sso.model.Role_Org_Rea" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roleid" property="roleid" jdbcType="BIGINT" />
    <result column="orgid" property="orgid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleid, orgid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role_org_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role_org_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bucg.sso.model.Role_Org_Rea" >
    insert into sys_role_org_relation (id, roleid, orgid
      )
    values (#{id,jdbcType=BIGINT}, #{roleid,jdbcType=BIGINT}, #{orgid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bucg.sso.model.Role_Org_Rea" >
    insert into sys_role_org_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=BIGINT},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bucg.sso.model.Role_Org_Rea" >
    update sys_role_org_relation
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=BIGINT},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bucg.sso.model.Role_Org_Rea" >
    update sys_role_org_relation
    set roleid = #{roleid,jdbcType=BIGINT},
      orgid = #{orgid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>